// Settings.
#settings.panel {
  .container {
    margin-top: 1rem;
  }
  .select-wrapper {
    overflow: visible;
  }
  .select-dropdown {
    text-transform: capitalize;
  }
  .dropdown-content {
    height: 220px !important;

    li span {
      overflow: hidden;
      padding: 14px 8px;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;
    }
    li img {
      height: 18px;
      margin: 16px 5px 5px;
      object-fit: cover;
      width: 24px;
    }
  }
  .swap-languages-btn {
    text-align: center;
    padding: 0 10px;
    margin-top: 24px;
  }
}
