@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import "../../node_modules/materialize-css/sass/components/color-variables";

// Vars.
$popup-width: 420px;

// Global.
* {
  box-sizing: border-box;
}

html {
  font-size: 16px !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-size: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: $popup-width;
}

// Extension.
#extension-popup {
  align-items: center;
  color: color("grey", "darken-3");
  display: flex;
  flex-flow: column nowrap;
  font-family: "Roboto", sans-serif;
  min-height: 300px;
  padding: 0;
  width: 100%;
}

// Panels.
@import "./panel";

// Navigation Bar.
@import "./navigation_bar";

// Results
.collapsible-header {
  align-items: center;
  flex-wrap: wrap;
  padding: 0.6rem 0.5rem 0.4rem;

  .aux-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }
  .word {
    &__audio-trigger {
      i {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-right: 0.6rem;
        vertical-align: top;
        width: 1.2rem;
      }
    }
    &__word {
      font-size: 0.76em;
      font-weight: 500;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
    &__context,
    &__type,
    &__verbs,
    &__plural {
      font-size: 0.8em;
      font-style: italic;
      margin-left: 0.4rem;
      padding-bottom: 1px;
      white-space: nowrap;
    }
  }

  .expand-icon {
    margin-bottom: 0.2rem;
    margin-left: auto;
  }
  .expand-less {
    display: block;
  }
  .expand-more {
    display: none;
  }

  .audios {
    flex-flow: row wrap;
    display: none;
    width: 100%;
    font-size: 0.8rem;

    &--show {
      display: flex;
    }

    &__example {
      color: color("grey", "darken-3");
      flex-basis: 50%;

      &:hover {
        .audios__icon {
          color: color("blue", "darken-3");
        }
      }
    }

    &__icon {
      font-size: 1.2em;
      line-height: 1.2;
      margin-right: 0.6em;
      transition: color 0.6s;
      vertical-align: top;
      width: 1em;

      &--play {
        color: color("green", "accent-4") !important;
      }
    }
  }
}
.collapsible-body {
  padding: 0;

  .collection-item {
    background-image: linear-gradient(to bottom, #f3f3f3, #fafafa 90%);
  }

  .translation {
    font-size: 0.9rem;

    &__term {
      font-size: 0.76em;
      font-weight: 500;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
    &__type {
      font-size: 0.8em;
      font-style: italic;
      margin-left: 0.4rem;
    }
  }
  .example {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    margin: 0;

    & > span {
      display: block;

      i {
        font-size: 1em;
      }
    }
    &__phrase {
      i {
        transform: rotate(180deg);
        vertical-align: middle;
      }
    }
    &__translation {
      font-weight: 500;
    }

    & + .example {
      border-top: 1px solid #e9e9e9;
      margin-top: 0.6rem;
      padding-top: 0.6rem;
    }
  }
}

// Active Word.
.active {
  .collapsible-header {
    .expand-less {
      display: none;
    }
    .expand-more {
      display: block;
    }
  }
}
